/ejerciciotabla/ejerTabla/nbproject/private/
/ejerciciotablados/ejertablados/nbproject/private/
/ejercicio-01042022/ejercicio0104pp/nbproject/private/
/ejercicio-01042022/ejercicio0104pp/build/
/ATP0404/AAT1/nbproject/private/
/ATP0404/AAT1/build/
/ATP0404/AAT1/dist/
